---
const {title, description} = Astro.props;
---
<div id={`${title}toolTip`} class="grid absolute top-[0] left-[0] opacity-[0] grid-cols-1 grid-rows-1 w-[500px]">
    <svg id={`${title}toolTipFrame`} class=" overlap" viewBox="0 0 200 200" preserveAspectRatio="none">
        <path d="M1,10 Q1,1 10,1 H190 Q199,1 199,10 V90 Q199,99 190,99 H110 L100,109 L90,99 H10 Q1,99 1,90 Z" 
              fill="white" 
              stroke="#ccc" 
              stroke-width="1"
              vector-effect="non-scaling-stroke"/>
      </svg>
    <div id={`${title}toolTipContent`} class="overlap relative top-[15px] h-full w-full p-[10px]">

        <p class="px-4 text-xl">{description}</p>

    </div>
</div>
<script>
    // new Vivus(`${title}toolTip`, {
    //     type: 'oneByOne',
    //     duration:100,
    //     pathTimingFunction: Vivus.EASE_OUT,
    //     onReady:function(){
    //         gsap.to(`${title}toolTipContent`,{duration:1,delay:0.3,y:-5,opacity:1})
    //     }
    // })
    </script>